*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  cursor: pointer;
}

.ant-select-selector{
  height:50px !important
}
.ant-select-selection-placeholder,
.ant-select-selection-item{
  margin-top: 5px;
}
.btn-square{

  border-radius: 0;

}